@use 'variables' as v;
@import 'reset';
@import 'card';
@import 'navbar';
@import 'profile';
@import 'body-posts';
@import 'activities-body';
@import 'experience';
@import 'education';
@import 'languages';
@import 'also-viewed';
@import 'may-know';

body {
    background-color: v.$bg-color;
    color: v.$white;
    font-family: v.$font-stack;
    line-height: 1.5;

    a {
        text-decoration: none;
        color: v.$highlight-color;
        font-weight: 700;
    }
    ul{
        list-style: none;
    }
    h2 {
        color: v.$white;
        font-size: 1.3rem;
        padding-top: 1rem;
    }
    .main{ 
        grid-area: main;
        width: 100%;
        min-width: 780px;
    }
    .aside{ 
        grid-area: aside;
        width: 100%;
        min-width: 320px;
    }
    .grid-container {
        margin: 0 300px;
        display: grid;
        grid-template-areas: 'main aside';
        gap: 2rem;
        
    }
}